@import 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css';
/* For apps using the npm package, the below URLs should reference /node_modules/vue-simple-calendar/dist/css/ instead */
@import '/node_modules/vue-simple-calendar/dist/css/default.css';
@import '/node_modules/vue-simple-calendar/dist/css/gcal.css';

#request-div {
  display: flex;
  flex-direction: row;
  font-family: Calibri, sans-serif;
  width: 96vw;
  min-width: 30rem;
  max-width: 100rem;
  min-height: 40rem;
}

#request-div .request-form {
  min-width: 40rem;
  max-width: 40rem;
}

#request-div .request-calendar {
  margin-right: 1rem;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 80vh;
  background-color: white;
}

/* For long calendars, ensure each week gets sufficient height. The body of the calendar will scroll if needed */
#request-div .cv-wrapper.period-month.periodCount-2 .cv-week,
#request-div .cv-wrapper.period-month.periodCount-3 .cv-week,
#request-div .cv-wrapper.period-year .cv-week {
  min-height: 6rem;
}

.cv-item {
  text-align: center;
  border-radius: 0.5em;
  font-weight: 600;
}

/* my custom */
.holiday {
  background-color: #ff9999 !important;
}

.anniversary {
  background-color: #ccffcc !important;
}